@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=new-title@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "./navbar.scss";
@import "./Hero.scss";
@import "./about.scss";

body {
	font-family: "Inter", sans-serif;
}
h1 {
	font-family: "Inter Bold", sans-serif;
}
h2 {
	font-family: "Inter Semibold", sans-serif;
}
